spring:
  application:
    name: ApiGateWay

  cloud:
    gateway:
      routes:
        - id: productserviceconfig
          uri: lb://ProductService
          predicates:
            - Path=/products/**

server:
  port: 6000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
